# Игнорируем стандартные каталоги и файлы Python
__pycache__/
*.py[cod]

# Исключаем виртуальное окружение Python
.venv/
env/
venv/

# Игнорируем конфигурационные и временные файлы
*.log
*.sqlite3
*.env

# Исключаем данные Docker и его кэши
*.dockerignore
docker-compose.override.yml

# Исключаем все содержимое каталога .git, кроме самого файла .gitignore (на всякий случай)
.git/

# Исключаем скрытые файлы системных настроек Windows/Mac
.DS_Store
Thumbs.db

# Исключаем папку с миграциями, если они генерируются
migrations/

# Файлы, связанные с тестированием и отладкой
*.test.db
