<!DOCTYPE html>
{% load blog_tags %}
{% load static %}

<html lang="en">
<head>
     <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
     <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock title %}</title>

</head>
<body>
<!-- Навбар -->
<div class="nav">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Новамедика</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Акции</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">О нас</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="#">Новости</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="#">Вакансии</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</div>

<!-- Контент -->
<div class="content">
    {% block content %}
    {% endblock content %}
</div>
<div class="sidebar">
    <h2>Hot News</h2>
    <p>We have {% total_posts %} useful articles!</p>
    <div class="subscribe">
        <p>
            <a href="{% url 'blog:post_feed' %}">Subscribe to ours RSS feed</a>
        </p>

    </div>
    <div class="latest-posts">
        <h3>Latest Posts</h3>
    {% show_latest_posts 3 %}
    </div>
    <div class="most-commented-posts">
        <h3>Most Commented Posts</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>

    <a href="#home">Поиск Лекарств в аптеках</a>
    <a href="#services">Services</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
</div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
