<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} - MySite</title>
    <link href="http://fonts.googleapis.com/css?family=Gravitas+One"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">


    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">

    <link rel="stylesheet" href="{% static 'css/results.css' %}">

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
</head>
<body>


<main class="container-lg">

    <section class=" row flex-wrapper container-fluid">

<header class="header container">
    <span class="logo-text1">Сеть Аптек</span>
    <h1 class="logo-text"><span class="fletter">Н</span>ова<span class="fletter">М</span>едика </h1>
    <span class="logo-text2">Поиск и Бронирование &nbsp; <u><span style="font-family: 'Arial', sans-serif; font-size: 0.7em; color: #007bff; font-weight: bold;">
    Version:<span style="color: #ff5733;">1.2</span> <span style="font-style: italic; font-size: 0.9em;">Beta</span></u>
</span>


</h1>

    {% block content %}
    {% endblock %}

</header>

        <div id="two" class="container">
            <div class="row">
                {% block search_bar%}
                {% include 'includes/search_bar.html' %}
                {% endblock %}
            </div>


        </div>

    </section>

 {% block results %}

 {% endblock %}
</main>
<div class="footer container-fluid text-center">
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Условия использования сервиса</a>  </li>
        <li class="list-inline-item"><a href="#"> Политика обработки данных</a></li>
        <li class="list-inline-item"><a href="#">Аптеки рядом</a> </li>
        <li class="list-inline-item"><a href="#">Реклама</a> </li>
        <li class="list-inline-item"><a href="#">Контакты</a> </li>
         <li class="list-inline-item"><a href="#">Помощь</a> </li>



    </ul>


</div>

 <footer class=" footer container-fluid text-center">
         &#169;2025 Novamedika.com
    </footer>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/bootstrap_js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/carusel.js' %}"></script>


{% block script %}
{% endblock %}
</body>
</html>
