<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} - MySite</title>
    <link href="http://fonts.googleapis.com/css?family=Gravitas+One"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">


    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/results.css' %}">

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
</head>
<body>


<header class="header container-lg">
    {% block content %}
    {% endblock %}

</header>
<main class="container-lg">

    <section class=" row flex-wrapper container-fluid">


        <div id="two" class="container">
            <div class="row">
                {% block search_bar%}
                {% include 'includes/search_bar.html' %}
                {% endblock %}
            </div>


        </div>

    </section>
    <section class="row "></section>
    <section class="row">
         <div class="row results">

            {% block results %}
            {% endblock %}
        </div>
    </section>

</main>
<div class="footer">
    <ul>
        <li><a href="#">Условия использования сервиса</a>  </li>
        <li><a href="#"> Политика обработки данных</a></li>
        <li><a href="#">Аптеки рядом: найди свою</a> </li>
        <li><a href="#">Реклама</a> </li>
        <li><a href="#">Контакты</a> </li>
         <li><a href="#">Помощь</a> </li>



    </ul>
    <ul class="copyright">
        <li> &#169;2025 Novamedika.com</li>
    </ul>

</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'js/bootstrap_js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>


<!--<script src="{% static 'js/modal.js' %}"></script>-->
<!--<script src="{% static 'js/populate_modal.js' %}"></script>-->
<script src="{% static 'js/carusel.js' %}"></script>


{% block script %}
{% endblock %}
</body>
</html>
