<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Политика использования файлов cookie на сайте  справка НоваМедика">
    <meta property="og:title" content="Новамедика | Справка">
    <meta property="og:description" content="Справка Аптечной сети Новамедика">
    <meta property="og:image" content="https://spravka.novamedika.com/static/images/preview1.png">

    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://spravka.novamedika.com/">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css?family=Gravitas+One"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">


    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">

    <link rel="stylesheet" href="{% static 'css/results.css' %}">

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
</head>
<body>


<!-- Cookie Banner -->
  <div id="cookie-banner" class="cookie-banner">
    <div class="cookie-content">
      <p>Мы используем только технические файлы cookie для корректной работы сайта. Продолжая использовать сайт, вы соглашаетесь с этим.</p>
      <button id="accept-cookies" class="btn btn-primary">Принять</button>
      <a href="{% url 'pharmacies:cookie_policy' %}" class="cookie-link">Подробнее</a>
    </div>
  </div>

<nav class="nav">
  <ul class="list-inline">
      <li class="list-inline-item"><a href="{% url 'psi' %}">Центр психологической силы

Инсайтинк </a> </li>
      <li class="list-inline-item"><a href="{% url 'novamedika' %}">Сайт Новамедика</a> </li>



    </ul>
</nav>

<main class="container-lg">

    <section class=" row flex-wrapper container-fluid">

<header class="header container">
    <span class="logo-text1">Сеть Аптек</span>
    <h1 class="logo-text"><span class="fletter">Н</span>ова<span class="fletter">М</span>едика </h1>
    <span class="logo-text2">Справочная служба</span>


</h1>

    {% block content %}
    {% endblock %}

</header>

        <div id="two" class="container">
            <div class="row">
                {% block search_bar%}
                {% include 'includes/search_bar.html' %}
                {% endblock %}
            </div>


        </div>

    </section>

 {% block results %}

 {% endblock %}
</main>
<div class="footer container-fluid text-center">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{% url 'pharmacies:index' %}">Поиск</a> </li>
        <li class="list-inline-item"><a href="#">Условия использования сервиса</a>  </li>
        <li class="list-inline-item"><a href="{% url 'pharmacies:cookie_policy' %}"> Политика использования файлов cookie</a></li>
        <li class="list-inline-item"><a href="#">Аптеки рядом</a> </li>
        <li class="list-inline-item"><a href="#">Реклама</a> </li>
        <li class="list-inline-item"><a href="#">Контакты</a> </li>
         <li class="list-inline-item"><a href="#">Помощь</a> </li>



    </ul>


</div>

 <footer class=" footer container-fluid text-center">
         &#169;2025 Novamedika.com
    </footer>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const cookieBanner = document.getElementById('cookie-banner');
    const acceptButton = document.getElementById('accept-cookies');

    // Показываем баннер только на HTTPS
    if (window.location.protocol === 'https:' && !localStorage.getItem('cookiesAccepted')) {
      cookieBanner.style.display = 'block';
    }

    acceptButton.addEventListener('click', function() {
      cookieBanner.style.display = 'none';
      localStorage.setItem('cookiesAccepted', 'true');

      // Устанавливаем Secure-куку с флагом HttpOnly
      document.cookie = "cookies_accepted=true; max-age=31536000; path=/; Secure; SameSite=Lax";
    });
  });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/bootstrap_js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/carusel.js' %}"></script>


{% block script %}
{% endblock %}
</body>
</html>
