{% load static %}


<div id="search-form-div" class="search-form">

    <h2  class="logo-text"><span class="fletter">Н</span>ова<span class="fletter">М</span>едика  </h2>
 <span class="logo-text2">Сеть Аптек</span>

    <form id="sform" class="form-control flex" method="get" action="search">
         <img class="left-list" src="{% static 'images/logo/left-list.png' %}">
        <label class="form-label" for="city-select">Выберите город</label>
        <select name="city" id="city-select" class="form-select">
            <option value="">Все города</option>
            {% for city in unique_cities %}
                <option value="{{ city.city }}" {% if city.is_selected %}selected{% endif %}>{{ city.city }}</option>
            {% endfor %}
        </select>
        <input type="text" id="id_q" name="q" class="form-control search-input-text"
               placeholder="Введите название, например анальгин" value="{{ request.GET.q }}">
        <button type="submit" class="search-button">Искать</button>
        <img class="right-list" src="{% static 'images/logo/right-list.png' %}">
    </form>

</div>
