{% extends 'base.html' %}

{% block title %}
Поиск лекарств
{% endblock %}

{% block content %}
<!--<div class="search-form">-->
<!--    <h1 class="search-title">Поиск лекарств</h1>-->
<!--    <form method="get" action=".">-->
<!--        <label class="label-city" for="city">Выберите город:</label>-->
<!--        <select name="city" id="city" class="search-select">-->
<!--            <option value="">Все города</option>-->
<!--            {% for city in unique_cities %}-->
<!--                <option value="{{ city.city }}" {% if request.GET.city == city.city %}selected{% endif %}>{{ city.city }}</option>-->
<!--            {% endfor %}-->
<!--        </select>-->

<!--&lt;!&ndash;        <label for="form">Категория:</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <select name="form" id="form" class="search-select">&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="">Все категории</option>&ndash;&gt;-->
<!--&lt;!&ndash;            {% for form in grouped_forms %}&ndash;&gt;-->
<!--&lt;!&ndash;                <option value="{{ form.category }}" {% if request.GET.form == form.category %}selected{% endif %}>{{ form.category }}</option>&ndash;&gt;-->
<!--&lt;!&ndash;            {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;        </select>&ndash;&gt;-->

<!--        <input type="text" id="id_q" name="q" class="search-input" placeholder="Введите название, Например анальгин" value="{{ request.GET.q }}">-->
<!--        <button type="submit" class="search-button">Искать</button>-->
<!--    </form>-->
<!--</div>-->

<div class="results">
    {% if page_obj %}
    <h2>Результаты поиска</h2>
    <table>
        <thead>
            <tr>
                <th>Аптека</th>
                <th>Номер Аптеки</th>
                <th>Город</th>
                <th>Адрес</th>
                <th>Название</th>
                <th>Производитель</th>
                <th>Страна</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            {% for item in page_obj %}
                <tr>
                    <td>{{ item.product.pharmacy.name }}</td>
                    <td>{{ item.product.pharmacy.pharmacy_number }}</td>
                    <td>{{ item.product.pharmacy.city }}</td>
                    <td>{{ item.product.pharmacy.address }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.manufacturer }}</td>
                    <td>{{ item.product.country }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.product.quantity }}</td>
                </tr>
                {% if item.count > 1 %}
                <tr>
                    <td colspan="9">{{ item.count }} других продуктов с тем же именем</td>
                </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="9">Ничего не найдено</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}{% if request.GET.city %}city={{ request.GET.city }}&{% endif %}page=1">&laquo; первая</a>
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}{% if request.GET.city %}city={{ request.GET.city }}&{% endif %}page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}{% if request.GET.city %}city={{ request.GET.city }}&{% endif %}page={{ page_obj.next_page_number }}">следующая</a>
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}{% if request.GET.city %}city={{ request.GET.city }}&{% endif %}page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}
{% endblock %}
